<h1 style="margin-bottom:20px;">Dark Side of Psychlopedia</h1>
<%= form_tag session_path do -%>
  <%= password_field_tag 'password', placeholder: 'Password' -%>
  <%= submit_tag 'Logueate' -%>
<%- end -%>
