<div class="about">
  <p>
    Bienvenidos a <span class="emphasis">Psychlopedia</span>.
    <br>
    <br>
    <span class="emphasis">Psychlopedia</span> es, esencialmente, un repositorio de experiencias psicodélicas y otros estados alterados de la conciencia.
    <br>
    <br>
    Podés <%= link_to 'crear', new_experience_path %>, comentar, <%= link_to 'buscar y leer', experiences_path %> a lo largo y a lo ancho del repositorio; tanto si querés compartir tu experiencia como si estás buscando información sobre el carácter general de una experiencia con una o más sustancias de tu interés, Psychlopedia está para servir esos propósitos.
    <br>
    <br>
    A diferencia de los imponentes <a href="https://www.erowid.org/experiences/" target="_blank">Erowid Experience Vaults</a>, Psychlopedia tiene un sistema abierto de moderación y valuación de experiencias. Podés <a href="#">leer más al respecto por acá</a>.
    <br>
    <br>
    Este proyecto está construído <span class="emphasis">por psiconautas para psiconautas</span>, con el único fin de procurar el ejercicio seguro de la psiconáutica y honrar la soberanía sobre nuestros cuerpos y nuestras mentes.
    <br>
    <br>
    -5vankmajer
  </p>
</div>
