<div class="about">
  <p>
    Bienvenidos a <span class="self emphasis">Psychlopedia</span>.
    <br>
    <br>
    Psychlopedia es, esencialmente, un repositorio de experiencias psicodélicas y otros estados alterados de la conciencia en español.
    <br>
    <br>
    Podés <%= link_to 'buscar', experiences_path -%>, <%= link_to 'leer', experiences_path -%>, comentar y <%= link_to 'crear', new_experience_path, class: 'create' -%> experiencias en este repositorio; tanto si querés compartir una vivencia como si estás buscando información sobre su carácter general, Psychlopedia está para servir esos propósitos.
    <br>
    <br>
    A diferencia de los clásicos e imponentes <%= link_to 'Erowid Experience Vaults', 'https://www.erowid.org/experiences/', target: '_blank' -%>, Psychlopedia usa un sistema abierto de moderación y valuación de experiencias. Somos una vibrante comunidad virtual de individuos, aún en expansión, y pondremos nuestro mejor esfuerzo en explotar el poder de la comunicación. Podés <a href="#">leer más al respecto por acá</a>.
    <br>
    <br>
    Este proyecto está construído <span class="enphasis">por psiconautas para psiconautas</span>, con el fin de procurar el ejercicio seguro de la psiconáutica y así honrar la soberanía del ser sobre el cuerpo y la mente.
    <br>
    <br>
    -5vankmajer
  </p>
</div>
