<div class="disclaimer">
  <p>
    Estas páginas discuten temas definitivamente controversiales. El consumo de ciertos psicoactivos con fines recreacionales 
    está criminalizado actualmente en la mayoría de los países del mundo, y Argentina no es la excepción. Desde que miembros 
    de la comunidad científica, médica, y periodística comenzaron a sugerir la legalización como una estrategia para reducir 
    el daño asociado al narcotráfico, allá por los pálidos y ojerosos 90's, padecemos de la creciente agresividad de los 
    sistemas que controlan y regulan nuestro comportamiento y sus proponentes. Cualquier persona discutiendo el uso de 
    psicotrópicos está caminando al borde del abismo; una vez que comenzamos a contar de qué manera se hace, el asunto se 
    pone aún más peligroso.
  </p>
  <p>
    Hacemos Psychlopedia porque consideramos importante la disponibilización de información de alta calidad a todas las personas. 
    Tomaremos los recaudos necesarios para protegernos, priorizando la viabilidad de este emprendimiento. Sin más 
    preámbulo, a continuación sigue un aviso legal que bien podría ser inútil ante una corte de justicia:
  </p>
  <p class="bald">
    No es la intención ni la finalidad de Psychlopedia influenciar a cualquier persona a cometer un delito. Psychlopedia explícitamente 
    instruye a todos sus lectores a no violar ninguna ley, sea internacional, nacional, provincial, regional, municipal u otras 
    categorías o leyes aplicables sobre la información presentada en cualquiera de los relatos publicados aquí digitalmente o 
    mediante otros métodos de publicación, sean informáticos o no. Específicamente, se recomienda enfáticamente a los lectores no ingerir, injectar, fumar, aspirar o 
    proceder con cualquier otro método de administración sobre ninguna droga, legal o ilegal (excepto drogas legales recetadas por un profesional), 
    ni participar en la manufactura, distribución, síntesis, análisis u otros procedimientos sobre ninguna droga, legal o ilegal. 
  </p>
  <p class="bald">
    <span class="under">Toda la información de este sitio es presentada SÓLO CON FINES EDUCACIONALES.</span>
  </p>
  <p class="bald">
    No hay garantía de que la información presente en este sitio sea precisa o válida de ninguna forma. Cualquier persona que 
    intente emprender cualquier procedimiento o acción basándose en estos contenidos es responsable total de cualquier resultado 
    con el que se encuentre. Psychlopedia, el proveedor de este sitio, y sus miembros no serán responsables en ninguna instancia.
  </p>
</div>

