<%- if @experience -%>
  <div>
    <h1 class="title"><%= @experience.title || '<no title>' -%></h1>
    <h3><%= @experience.pseudonym || 'anonymous' -%> @ <%= @experience.created_at.to_formatted_s(:long) %></h3>
    <div class="etxt">
      <%= simple_format(@experience.body, class: 'epgraph') -%>
    </div>
  </div>
<%- end -%>
