<div class="styles">
  <h1>Guía de Estilo</h1>
  <p>
    Este documento es una guía rápida y simple sobre la creación, valorazión y categorización de experiencias.
  </p>

  <h3>Creación</h3>

  <p>
    La creación de experiencias está abierta al público. Actualmente, no es necesario crear una cuenta para poder publicar contenido en Psychlopedia; de hecho, sólo es necesario poder resolver un CAPTCHA. :-)
  </p>

  <p>
    Citando casi literalmente a los Vaults of Erowid, el propósito de Psychlopedia es, también, coleccionar, revisar y categorizar este gran compilado de relatos sobre el uso de plantas y químicos psicoactivos, y tecnologías. Queremos ayudar a documentar y comunicar por qué las personas usan sustancias psicoactivas, permitiéndoles describir, en sus propias palabras, las experiencias que tienen y el impacto que esas sustancias tienen en sus vidas. De esta manera, hacer posible a quienes tengan poco o ningún conocimiento sobre una sustancia aprender de ella de quienes la usan.
  </p>

  <p>Sin embargo, algunas restricciones aplican.</p>

  <h3>Valoración</h3>

  <p>Las experiencias sujetas a su remoción son las que:</p>

  <dl>
    <dd>&#x271d; no están relacionadas a los estados alterados de la conciencia</dd>
    <dd>&#x271d; sólo consisten en la enumeración de las actividades sin abordar los efectos de la sustancia</dd>
    <dd>&#x271d; son imposibles de leer por sus errores gramaticales u ortográficos</dd>
    <dd>&#x271d; son excesivamente pobres en contenido y/o tratándose de sustancias comunes, no brindan información que enriquezca significativamente los repositorios</dd>
  </dl>

  <p>Todo lo que esté por fuera de esas categorías que, básicamente, podrían sumarizarse en que las experiencias que tengan un nivel de calidad bajo, pueden dejar de ser parte de la colección de relatos de Psychlopedia.</p>

  <h3>Categorización</h3>

  <p>En una próxima instancia de revisión comunitaria, las experiencias podrán ser evaluadas del 1 al 5, y mostrarán una calificación final en la forma de una serie de estrellas, pero a su vez, también mostrarán un detalle de todas las valoraciones recibidas; por ejemplo, de la siguiente manera:</p>

  <table>
    <thead>
      <tr>
        <th style="text-align: center;">Estrellas</th>
        <th style="text-align: center;">Votos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center;">1</td>
        <td style="text-align: center;">5</td>
      </tr>
      <tr>
        <td style="text-align: center;">2</td>
        <td style="text-align: center;">45</td>
      </tr>
      <tr>
        <td style="text-align: center;">3</td>
        <td style="text-align: center;">39</td>
      </tr>
      <tr>
        <td style="text-align: center;">4</td>
        <td style="text-align: center;">22</td>
      </tr>
      <tr>
        <td style="text-align: center;">5</td>
        <td style="text-align: center;">10</td>
      </tr>
    </tbody>
  </table>
</div>

