<div class="styles">
  <p>
    Este documento es una guía rápida y simple sobre la creación, valoración y categorización de experiencias.
  </p>

  <h4>Creación</h4>

  <p>
    La creación de experiencias está abierta al público. Actualmente, no es necesario crear una cuenta para poder publicar contenido en Psychlopedia; de hecho, sólo es necesario <%= link_to 'ser humano', 'http://es.wikipedia.org/wiki/Captcha', target: '_blank' -%>. :-)
  </p>

  <p>
    Citando casi literalmente a los <%= link_to 'Vaults of Erowid', 'https://www.erowid.org/experiences/', target: '_blank' -%>, el propósito de Psychlopedia es, también, coleccionar, revisar y categorizar este gran compilado de relatos sobre el uso de tecnologías, plantas y químicos psicoactivos.
  </p>

  <p>
    Queremos ayudar a documentar y comunicar por qué las personas usan sustancias psicoactivas, permitiéndoles describir, en su propio idioma y en sus propias palabras, las experiencias que tienen y el impacto que estas sustancias tienen en sus vidas. De esta manera, queremos que quienes tengan poco o ningún conocimiento sobre una sustancia tengan la posibilidad de aprender sobre ella de quienes la usan.
  </p>

  <p>
    Sin embargo, se aplican algunas restricciones.
  </p>

  <h4>Valoración</h4>

  <p>
    Las experiencias sujetas a su remoción son las que:
  </p>

  <dl>
    <dd>&#x271d; no estén relacionadas a los estados alterados de la conciencia</dd>
    <dd>&#x271d; sólo consistan en la enumeración de las actividades incurridas en la experiencia sin abordar los efectos de la sustancia</dd>
    <dd>&#x271d; sean muy difíciles o llanamente imposibles de leer por sus errores gramaticales u ortográficos</dd>
    <dd>&#x271d; sean excesivamente pobres en contenido y/o tratándose de sustancias comunes, no brinden información que enriquezca significativamente los repositorios</dd>
  </dl>

  <p>
    Todo lo que esté por fuera de estas categorías (i.e. experiencias carentes de información original y de calidad), puede formar parte de nuestra colección de relatos.
  </p>

  <p>
    Además y por supuesto, todas las experiencias son comentables.
  </p>

  <h4>Categorización</h4>

  <p>
    En una instancia de constante revisión comunitaria, las experiencias podrán ser evaluadas con valores numéricos en el rango del 1 al 5, y mostrarán una calificación final en la forma de una serie de estrellas, pero a su vez, también dispondrán de un detalle con todas las valoraciones recibidas como en el siguiente ejemplo:
  </p>

  <table>
    <thead>
      <tr>
        <th style="text-align: center;">Estrellas</th>
        <th style="text-align: center;">Votos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center;">&#9733;</td>
        <td style="text-align: center;">5</td>
      </tr>
      <tr>
        <td style="text-align: center;">&#9733;&#9733;</td>
        <td style="text-align: center;">45</td>
      </tr>
      <tr>
        <td style="text-align: center;">&#9733;&#9733;&#9733;</td>
        <td style="text-align: center;">39</td>
      </tr>
      <tr>
        <td style="text-align: center;">&#9733;&#9733;&#9733;&#9733;</td>
        <td style="text-align: center;">22</td>
      </tr>
      <tr>
        <td style="text-align: center;">&#9733;&#9733;&#9733;&#9733;&#9733;</td>
        <td style="text-align: center;">10</td>
      </tr>
    </tbody>
  </table>

  <p>
    De esta manera, se podrá apreciar mejor qué valoración sostiene la comunidad sobre los relatos.
  </p>
  <p>
  Por último, entendemos que la puntuación de las experiencias es una herramienta importantísima para consolidar buenos estándares de escritura y, así, un registro de alta calidad, por lo que alentamos a quienes deseen proponer metodologías suplementarias o alternativas a <%= mail_to 'airOnGString@gmail.com', 'escribirnos', subject: 'Idea para Psychlopedia!' -%> y coordinar esfuerzos para mejorarla.
  </p>
  <p>
    ¡Gracias por tu interés en Psychlopedia!
  </p>
</div>

