<div class="styles">
  <h3>Participando en Psychlopedia</h3>

  <p>
    Esta es una guía simple sobre las líneas generales a respetar y promover en cuanto a la creación de experiencias. 
  </p>

  <p>
    Citando casi literalmente a los <%= link_to 'Vaults of Erowid', 'https://www.erowid.org/experiences/', target: '_blank' -%>, 
    el propósito de Psychlopedia es, también, coleccionar, revisar y categorizar este compilado de relatos sobre el uso de tecnologías, 
    plantas y químicos psicoactivos. Ayudaremos a documentar y comunicar por qué las personas usan sustancias psicoactivas, permitiéndoles 
    describir, en su propio idioma y en sus propias palabras, las experiencias que viven y el impacto que estas sustancias tienen en sus 
    vidas.
  </p>

  <p>
    De esta manera, queremos que quienes tengan poco o ningún conocimiento sobre una sustancia tengan, también, la posibilidad de 
    aprender sobre ella de quienes la usan.
  </p>

  <h3>Creación, eliminación y puntuación de experiencias</h3>

  <h4>Creación de experiencias</h4>
  <p>
    La creación de experiencias está abierta al público. Actualmente, no es necesario crear una cuenta para poder publicar contenido en Psychlopedia; 
    de hecho, sólo es necesario <%= link_to 'ser humano', 'http://es.wikipedia.org/wiki/Captcha', target: '_blank' -%>. :-)
  </p>

  <p>
    Sin embargo, se aplican algunas restricciones.
  </p>

  <h4>Eliminación de experiencias</h4>

  <p>
    Las experiencias sujetas a su remoción son las que:
  </p>

  <dl>
    <dd>
      &#x271d; no estén relacionadas a los estados alterados de la conciencia
    </dd>
    <dd>
      &#x271d; sólo consistan en la enumeración de las actividades incurridas en la experiencia sin abordar los efectos de la sustancia
    </dd>
    <dd>
      &#x271d; sean muy difíciles o llanamente imposibles de leer por sus errores gramaticales u ortográficos
      </dd>
    <dd>
      &#x271d; sean excesivamente pobres en contenido y/o tratándose de sustancias comunes, no brinden información que enriquezca 
      significativamente los repositorios
    </dd>
  </dl>

  <p>
    Todo lo que esté por fuera de estas categorías (i.e. experiencias ricas en información original, válida y organizada), puede formar parte de 
    nuestra colección de relatos.
  </p>

  <p>
    Además y por supuesto, todas las experiencias son comentables, abriendo así otro canal de valoración y apreciación de las experiencias.
    Estamos al tanto de que los comentarios están lejos de ser una solución óptima de comunicación entre el autor y los lectores; pronto liberaremos 
    al público alguna de las soluciones con las que hemos estado experimentando actualmente. &#x2615;
  </p>

  <p>
    Por último, entendemos que la valoración de las experiencias sería una herramienta importantísima para consolidar buenos estándares de escritura y, 
    así, un registro de alta calidad, por lo que alentamos a quienes deseen proponer metodologías suplementarias o alternativas 
    a <%= mail_to 'airOnGString@gmail.com', 'escribirnos', subject: 'Idea para Psychlopedia!' -%> y coordinar esfuerzos para mejorarla.
  </p>
  <p>
    ¡Gracias por tu interés en <%= link_to 'Psychlopedia', root_path -%>!
  </p>
</div>

