/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui.min
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  So here are the styles so far. Excuse my poor understanding of CSS.
*/

body {
  font-family: Helvetica, Lucida Console, monospace;
  font-size: 1em;
  background-color: #F9F9F9;
  color: #333;
  padding: 25px;
}

h1 {
  font-size: 1.75em;
}

h1:hover {
  -webkit-animation: hover-change linear 4s infinite;
     -moz-animation: hover-change linear 4s infinite;
  color: #30EFB2;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.35em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1em;
}

p, ul, ol, dl, blockquote {
  font-size: .875em;
}

a {
  color: #333;
  outline: none;
  text-decoration: none;
  -webkit-transition-property: color, text;
  -webkit-transition-duration: .25s, .25s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, text;
  -moz-transition-duration: .25s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: color, text;
  -o-transition-duration: .25s;
  -o-transition-timing-function: linear, ease-in;
}

div.about a {
  border-bottom: 1px solid black;
}

div.about a:hover {
  border-bottom: 1px solid #30EFB2;
}

nav a {
  font-size: 1.2em;
  color: #000;
  display: inline-block;
  border-bottom: 1px solid #726E6D;
  margin: 2px auto;
  padding: 5px;
  text-decoration: none;
}

@-webkit-keyframes hover-change {
  0%   {color: cyan;}
  25%  {color: magenta;}
  50%  {color: #30EFB2;}
  100% {color: white;}
}

@-moz-keyframes hover-change {
    0%   {color: cyan;}
    25%  {color: magenta;}
    50%  {color: #30EFB2;}
    100% {color: white;}
}

nav a:hover {
  -webkit-animation: hover-change linear 0.2s infinite;
  -moz-animation: hover-change linear 0.2s infinite;
  border-bottom: 1px solid #30EFB2;
}

nav a.what {
  color: silver;
  display: inline-block;
  border-bottom: 1px solid #726E6D;
  margin: 20px auto;
  padding: 5px;
  cursor: help;
}

nav a.what:hover {
  border-bottom: 1px solid #30EFB2;
}

#header {
  width: 30%;
  float: left;
  text-align: center;
}

#main {
  width: 70%;
  float: right;
  line-height: 1.2;
  padding: 0;
}

#container {
  max-width: 70em;
  // lol, this helps. i must learn why.
  //margin: auto;
  padding: 1em;
}

.cf:before {
  content: "";
  display: block;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

a.button, button {
 font-family: monospace;
 background: #eee;
 border: 1px solid #aaa;
 border-top: 1px solid #ccc;
 border-left: 1px solid #ccc;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 color: #444;
 display: inline-block;
 font-size: 11px;
 font-weight: 700;
 text-decoration: none;
 text-shadow: 0 1px rgba(255,255,255,0.75);
 cursor: pointer;
 margin-bottom: 20px;
 padding: 4px 12px;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  width: 150px;
  font-family: monospace;
  font-size: .75em;
  background: #eee;
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.75);
  cursor: pointer;
  margin-bottom: 20px;
  padding: 4px 12px;
}

textarea, select, input, input[type="text"], input[type="password"], input[type="email"] {
  font-family: monospace;
  border: 1px solid #ccc;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: .875em;
  width: 600px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fdfdfd;
  padding: 6px 4px;
}

a:visited, a:hover, a:active, a:focus {
  outline: none;
}

a.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

a.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
}

textarea:focus, input:focus, select:focus {
  border: 1px solid #aaa;
}

textarea {
  min-height: 60px;
}

form, fieldset {
  margin-bottom: 20px;
}

li.experience {
  font-size: 1.1em;
  line-height: 1.5;
}

li.experience a {
  font-size: 1.2em;
  margin: 0 0 3px 0;
  font-weight: bold;
  color: #333;
  display: inline-block;
  border-bottom: 1px solid black;
}

li.experience a:hover {
  border-bottom: 1px solid #30EFB2;
}

::selection {
  background: #30EFB2;
}

::-moz-selection {
  background: #30EFB2;
}

div.about {
  font-size: 1.2em;
}

a.create {
  border-bottom: 1px solid transparent;
  font-weight: bold;
}

a.create:hover {
  border-bottom: 1px solid #ef306d;
}

.no-data {
  font-size: 1.2em;
  margin-top: 8px;
  text-align: center;
}

span.emphasis {
  font-weight: bold;
}

span.self:hover {
  -webkit-animation: hover-change linear 4s infinite;
  -moz-animation: hover-change linear 4s infinite;
  color: #30EFB2;
}

div.etxt p {
  text-align: justify;
  font-size: 1em;
  margin-bottom: 20px;
}

div.etxt {
  width: 100%;
}

div.miniguide {
  display: block;
  margin-bottom: 25px;
}

div.miniguide h2 {
  text-decoration: underline;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

div.miniguide h2 a:hover {
  color: #30EFB2;
}

ul.guide_goodies {
  margin-left: 15px;
  font-size: 1.1em;
}

ul.guide_goodies li a:hover {
  border-bottom: 1px solid #30EFB2;
}

nav a.guides {
  margin-top: 20px;
}

div.about > p {
  margin-bottom: 20px;
  line-height: 1.25;
}

div.source {
  margin-bottom: 20px;
  font-size: .9em;
  font-style: italic;
}

div.licensing {
  margin-bottom: 20px;
}

p.notice {
  border: 1px solid #05964C;
  border-radius: 3px;
  padding: 4px 3px 4px 3px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #30EFB2;
}

div.thingo > h1, h2 {
  float: left;
}

h3.whoandwhen {
  clear: both;
}

h2 {
  margin-left: 5px;
  font-size: 1.7em;
}

.keep_reading {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 1em;
}

.keep_reading:hover {
  border-bottom: 1px solid #30EFB2;
}

div.extra {
  display: none;
}

div#experience {
  clear: both;
}

span.enrichment {
  display: inline-block;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-bottom: 15px;
}

span.enrichment:hover {
  border-bottom: 1px solid #ef306d;
}

div#experience textarea {
  font-size: 1.2em;
}

.results-title {
  margin-bottom: 15px;
}

.no-results {
  font-size: 1.2em;
  margin-top: 8px;
  text-align: left;
}

.no-results p {
  margin-bottom: 5px;
}

div.search input[type="text"] {
  height: 15px;
  width: 85%;
  display: inline;
  padding-top: 4px;
  padding-bottom: 5px;
}

div.search input[type="submit"] {
  display: inline;
  height: 25px;
  width: 80px;
}

div.search form {
  margin-bottom: 0;
}

.results-title {
  font-size: 1em;
}

div.styles {
  font-size: 1.2em;
}

div.styles p {
  margin-bottom: 15px;
  line-height: 1.25;
}

div.styles h3, h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

div.styles h3:hover {
  color: #30EFB2;
}

div.disclaimer h3, h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

div.disclaimer h3:hover {
  color: #30EFB2;
}

div.privacy h3, h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

div.privacy h3:hover {
  color: #30EFB2;
}

div.styles table {
  float: left;
  margin-right: 20px;
}

div.styles table, th, td {
  font-size: .85em;
  border-collapse: collapse;
  border: 1px solid black;
  margin-bottom: 15px;
}

div.styles th, td {
  padding: 10px 10px;
}

div.styles dd {
  margin-bottom: 5px;
  margin-left: 10px;
}

div.styles dd:last-child {
  margin-bottom: 20px;
}

div.styles a {
  border-bottom: 1px solid black;
}

li.logo {
  margin-bottom: 20px;
}

div.pagination {
  margin-top: 10px;
}

div.pagination :not(.disabled) {
  padding: 3px;
  border: 1px solid black;
}

div.pagination :not(.disabled):hover {
  border: 1px solid #30EFB2;
}

.footnotes a {
  font-size: .8em;
  text-decoration: none;
}

div.disclaimer {
  font-size: 1.2em;
}

div.disclaimer p {
  margin-bottom: 20px;
}

div.disclaimer p.bald {
  font-weight: bold;
}

div.disclaimer p.bald > span {
  text-decoration: underline;
}

div.privacy {
  font-size: 1.2em;
}

div.privacy p {
  margin-bottom: 20px;
}

div.privacy a {
  border-bottom: 1px solid black;
}

div.privacy a:hover {
  border-bottom: 1px solid #30EFB2;
}

.anon {
  margin-top: 20px;
}

.anon-links {
  font-weight: bold;
}

div.set-and-setting p {
  width: 75%;
  font-size: .9em;
  text-align: justify;
  margin-bottom: 20px;
}

div.disclaimer, div.privacy, div.about, div.styles {
  text-align: justify;
}

.i18n {
  font-size: .8em;
  margin-bottom: 20px;
}

div.snippet {
  font-size: .9em;
  font-style: italic;
  color: #838383;
}

div.snippet > a {
  font-style: normal;
  font-size: .9em;
}

li.search-result {
  margin-bottom: 20px;
}
