<div class="guide_index">
  <ul class="substance_list">
    <li><%= link_to 'DXM', dxm_guide_path -%></li>
    <li><%= link_to 'LSD', lsd_guide_path -%></li>
    <li><%= link_to 'MDMA', mdma_guide_path -%></li>
    <li><%= link_to 'NBOMEs', nbomes_guide_path -%></li>
  </ul>
</div>
